:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFE5B4;
}

main {
  flex: 1;
  padding: 20px;
}


.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e3e3e0;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-nav a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: #e2ca9f;
}



.bottom-nav a.active {
  background-color: #FFE5B4;
  color: black;
}


.recipe-card {
  margin: auto;
  margin-top: 10px;
  width: 95%;
  box-shadow: 0px 4px 5px #cd942a;
  border: solid 1px #f0f0ed;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.like-btn {
  text-align: center;
  border: none;
  background: none;
  font-size: 20px;
}

.recipe-footer {
  display: flex;
  flex-direction: row;
}

.author {
  width: 85%;
  font-size: 14px;
}

.likes {
  width: 20%;
  margin-right: 5px;
}

.random-card {
  display: flex;
  flex-direction: column;
}

.random-card img {
  margin: 0 auto;
  margin-top: 50px;
}

.active-btn {
  height: 40px;
  box-shadow: 0px 3px 3px #cd942a;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  background-color: #ffb936;
  position: relative;
  border:solid 1px orange;
  border-radius: 10px;
}

.square-btn {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 10px; 
  border:solid 1px orange;
  border-radius: 10px;
  box-shadow: 0px 3px 3px #cd942a;
  background-color: #ffb936;
  color: white;
}

.square-btn:active {
  background-color: #e1a22e;
  box-shadow: 0px 0px;
  transform: translateY(2px);
}

.active-btn:active {
  background-color: #e1a22e;
  box-shadow: 0px 0px;
  transform: translateY(2px);
}

.recipe-detail {
  margin: 0 auto;
  margin-top: 30px;
  width: 95%;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 3px 10px #cd942a;
}

.recipe-card h3 {
  text-align: center;
}

.ingredient {
  display: flex;
  flex-direction: row;
}
.ingredient-title {
  width: 70%;
  border: solid 1px #cd942a;
  text-align: center;
}

.ingredient-weight {
  width: 30%;
  border: solid 1px #cd942a;
  text-align: center;
}

.compound {
  margin-top: 10px;
}


a {
  color: black;
  text-decoration: none;
}


.recipe-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.empty {
  width: 90%;
}

.recipe-btn {
  margin-top: 10px;
}

.searchbar {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.search {
  width: 95%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 1;
}

.shadowed {
  box-shadow: 0px 3px 10px #cd942a;
}

.search input {
  width: 100%;
  padding: 4px;
  height: 50px;
  border: solid 1px orange;
  border-right: none;
  border-radius: 10px;
  text-align: center; 
  background-color: white;
  color: black;
}

.search input:focus {
  outline: none;
}

.suggestions {
  margin-top: 5px;
  border-radius: 5px;
}

.suggestion-item {
  width: 100%;
  height: 40px;
  font-size:  25px;
  text-align: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}

.favorite-header{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.main-color {
  background-color: #FFE5B4;
}

.inactive-main-color {
  background-color: #e2ca9f;
}

.favorite-header-item {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 50%;
}

.compounds {
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
}

.compound-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 5px #cd942a;
}

.container {
  display: flex;
  align-items: center;
}

.content {
  margin-top: 80px;
}

.ingredient-feild {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
}

.select-input {
  margin: 20px;
}

.form-input {
  border: none;
  height: 40px;
  margin-top: 15px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.form-input-row {
  width: 50%;
  border: none;
  height: 40px;
  text-align: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.mt-150 {
  margin-top: 150px;
}

.heart-img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.mx-auto {
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.flex {
  display: flex;

}

.recipe-form {
  display: flex;
  margin: 0 auto;
  width: 95%;
  background-color: white;
  border:solid 1px orange;
  border-radius: 10px;
  box-shadow: 0px 4px 5px #cd942a;
}

.common-input {
  border: none;
  height: 40px;
  text-align: center;
}

.flex-div {
  display: flex;
}

.single-input {
  width: 95%;
  border-radius: 5px;
}

.area-input {
  border-radius: 7px;
  border: none;
}

.w-95 {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}

.minus-btn {
  border: none;
  background: none;
  width: 50px;
  font-size: 30px;
}


.create-btn {
  height: 40px;
  margin: 20px auto;
  background-color: #ffb936;
  box-shadow: 0px 3px 3px #cd942a;
  border: none;
  padding: 0 40px;
  border-radius: 10px;
  color: white;
}

.main-form {
  margin-top: 40px;
}

.error-msg {
  width: 95%;
  color: white;
  border:solid 1px red;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(248, 146, 146);
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}

.marg5 {
  margin-top: 10px;
}

.empty-content {
  display: flex;
  align-items: center;
  width: 90%;
  height: 300px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.empty-content center {
  color: #cd942a;
}